*{
	margin:0;
	padding:0;
}
body{
    width: 1500px;
	margin: 50px auto;
	height:1000px;
	font-family: monospace;
	background-color:red;
}
#wrapper{
	width: 1500px;
	height:auto;
	margin: 50px auto;
	padding:0 30px;
	margin-top:-50px;
	background-image:linear-gradient(to right,rgb(41, 158, 229),rgb(240, 68, 106));
} 
.container{
	max-width: 1440px;
    height: auto;
    margin: 0 auto 10px;
    justify-items: center;
    justify-content: center;
    background: #4749a5;
    border-radius: 15px;
}
header{
	background-color: rgb(233, 230, 14);
	border-radius: 20px;

}
nav{
	display: flex;
	justify-items: center;
}
.logo-main-menu{
	width: 50%;
	display: flex;
}
#logo{
	max-width: 120px;
	height: auto;
	padding:20px 0;
	margin: 0 5px;
}
#logo img{
	width: 120px;
    border-radius: 10px;
}
#main-menu{
	width:700px;
	display: flex;
	list-style: none;
	padding:0 10px;
}
#main-menu li a{
	color:#1e1d1d;
	font-size:15px;
	text-decoration: none;
	display: block;
	padding:22px 25px;
	font-weight: bold;
    text-transform: uppercase;
}

.main-menu-right{
	width:50%;
	display: flex;
	justify-content: flex-end;
}
#main-menu-right1{
	width:240px;
	display:flex;
}
#main-menu-right1 li,#main-menu-right2 li{
	list-style: none;
	padding:22px 2px;
}
#main-menu-right2{
	width:240px;
	display: flex;
}
#main-menu-right2 li a{
	text-decoration: none;
	padding:0 5px;
	font-weight: bold;
	font-size: 15px;
	color:#1e1d1d;
}
menu{
	width:1500px;
    margin:50px auto ;
}
.direction{
    text-align: center;
}
.direction button{
    font-family: cursive;
    font-weight: bold;
    background-color: #ffffff44;
    border:none;
    width: 50px;
    height:50px;
    border-radius: 50%;
    transition: 0.5s;
    margin:0 10px;
	margin-top:50px;
}
.direction button:hover{
    background-color: #ffffff;
}
.item{
    border-radius: 20px;
    width:1500px;
    height:600px;
    background-image: linear-gradient(to top, #AEC0CE, #ECECF2);
    overflow: hidden;
    transition: 0.5s;
    margin:10px;
    scroll-snap-align: start;
}
.item .avatar{
    display: block;
    margin:0px auto 10px;
    width:1500px;
    height:600px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 10px 15px #7e878d;
}

#list{
    display: flex;
    width:max-content;
}
#formList{
    width:1500px;
    max-width: 100%;
    overflow: auto;
    margin:100px auto 50px;
    scroll-behavior: smooth;
    scroll-snap-type: both;
	margin:-50px auto;
}
#formList::-webkit-scrollbar{
    display: none;
}
@media screen and (max-width: 1024px){
    .item{
        width: calc(33.3vw - 20px);
    }
    .direction{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .item{
        width: calc(50vw - 20px);
    }
    .direction{
        display: none;
    }
}
footer {
    background-color: rgb(233, 230, 14);
	border-radius: 20px;
    display: flex;
	margin-top: 20px;
    padding:40px 20px;
    font-size: 90%;
    justify-content: space-around;
}

footer, footer li a {
    color:black;
    text-decoration: none;
}

footer>div>h3 {
    white-space: nowrap;
    margin-bottom: 10px;
}

footer>div ul li span {
    font-weight: 500;
}
footer>div ul li {
   list-style: none;
   padding-top:10px;
}

footer ul img {
    width: 30px;
    border-radius: 20px;
}

.footer--center a+a {
    margin-left: 10px;
}