*{
	margin:0;
	padding:0;
}
body{
    width: 1280px;
	margin: 50px auto;
	height:1000px;
	font-family: monospace;
}
#wrapper{
	width: 1280px;
	height:1000px;
	margin: 50px auto;
	padding:0 30px;
	margin-top:-50px;
	background-image:linear-gradient(to right,rgb(229, 41, 72),rgb(240, 68, 68));
}
.container{
	max-width: 1300px;
	height:200px;
	margin: 0 auto 10px;;
	justify-items: center;
	justify-content: center;
}
header{
	background-color: rgb(233, 230, 14);
	border-radius: 20px;

}
nav{
	display: flex;
	justify-items: center;
}
.logo-main-menu{
	width: 50%;
	display: flex;
}
#logo{
	max-width: 120px;
	height: auto;
	padding:20px 0;
	margin: 0 5px;
}
#logo img{
	width: 120px;
    border-radius: 10px;
}
#main-menu-center {
	width:1300px;
	display: flex;
	list-style: none;
	padding:0 10px;
}
#main-menu{
	width:700px;
	display: flex;
	list-style: none;
	padding:0 10px;
}

#main-menu li a{
	color:#1e1d1d;
	font-size:15px;
	text-decoration: none;
	display: block;
	padding:22px 25px;
	font-weight: bold;
    text-transform: uppercase;
}
#main-menu-center li a{
	color:#1e1d1d;
	font-size:15px;
	text-decoration: none;
	display: flex;
	padding:22px 25px;
	font-weight: bold;
    text-transform: uppercase;
}
.main-menu-right{
	width:50%;
	display: flex;
	justify-content: right;
}
#main-menu-right1{
	width:240px;
	display:flex;
}
#main-menu-right1 li,#main-menu-right2 li{
	list-style: none;
	padding:22px 2px;
}
#main-menu-right2{
	width:300px;
	display: flex;
}
#main-menu-right2 li a{
	text-decoration: none;
	padding:0 5px;
	font-weight: bold;
	font-size: 15px;
	color:#1e1d1d;
}
menu{
	width:1280px;
    margin:50px auto ;
}
.direction{
    text-align: center;
}
.direction button{
    font-family: cursive;
    font-weight: bold;
    background-color: #ffffff44;
    border:none;
    width: 50px;
    height:50px;
    border-radius: 50%;
    transition: 0.5s;
    margin:0 10px;
	margin-top:50px;
}
.direction button:hover{
    background-color: #ffffff;
}
.item{
    border-radius: 20px;
    width:1280px;
    height:600px;
    background-image: linear-gradient(to top, #AEC0CE, #ECECF2);
    overflow: hidden;
    transition: 0.5s;
    margin:10px;
    scroll-snap-align: start;
}
.item .avatar{
    display: block;
    margin:0px auto 10px;
    width:1280px;
    height:600px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 10px 15px #7e878d;
}

#list{
    display: flex;
    width:max-content;
}
#formList{
    width:1280px;
    max-width: 100%;
    overflow: auto;
    margin:100px auto 50px;
    scroll-behavior: smooth;
    scroll-snap-type: both;
	margin:-50px auto;
}
#formList::-webkit-scrollbar{
    display: none;
}
@media screen and (max-width: 1024px){
    .item{
        width: calc(33.3vw - 20px);
    }
    .direction{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .item{
        width: calc(50vw - 20px);
    }
    .direction{
        display: none;
    }
}
footer {
    background-color: rgb(233, 230, 14);
	border-radius: 20px;
    margin: 10px;
    display: flex;
    font-size: 90%;
    
}

footer, footer li a {
    color:black;
    text-decoration: none;
}

footer>div>h3 {
    white-space: nowrap;
    margin-bottom: 10px;
}

footer>div ul li span input {
    font-weight: 500;
}
footer>div ul li input {
   list-style: none;
   padding-top:10px;
}

footer ul img {
    width: 30px;
    border-radius: 20px;
}

.footer--center a+a {
    margin-left: 10px;
}
#top-bot {
    display: block;
    height: 200;
    width: 300;
}
#ngang {
    display: flex;
    margin-top: 5px;
    padding:10px 20px;
    font-size: 90%;
}
#search {
    width: 200px;
    height: 30px;
}
.products {
    padding: 0 80px;
}

.products-content {
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 3rem 2rem;
    padding: 1rem;
    min-height: 400px;
}

.product {
    text-align: center;
    border: 2px solid rgb(123, 63, 63);
    border-radius: 20px;
}

.product__avatar {
    cursor: pointer;
}

.product>div+div {
    margin-top: 2%;
}

.product__avatar>img {
    width: 100%;
    object-fit: cover;
    border-radius:20px;
    object-position: center;
}
.product:hover img{
    transform: translate(0,-20px);
}
.product__name:hover{
    color:#81d512;
}
.product__avatar--back {
    display: none;
}

.product__avatar:hover .product__avatar--back {
    display: inline-block;
}

.product__avatar:hover .product__avatar--front {
    display: none;
}
.product__avatar--front, .product__avatar--back {
    width: 240px;
    height: 300px;
	border-radius:15px;
}

.product__name {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:10px 0;
}

.product__price {
	font-weight:bold;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom:10px;
}
.price{
	font-weight:bold;
}
.product__price>span+span {
    margin-left: 2%;
	font-weight:bold;
}
