
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #f4f4f4;
}


.back-to-menu {
    
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-weight: bold;
}

.form-left, .form-right {
    flex: 1;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


input[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

input[type="button"]:hover {
    background-color: #a09e45;
}
